# Ignore virtual environment directories
venv/
.venv/
bin/
lib/
pyvenv.cfg

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Editors and IDEs
.vscode/        # Optional: Uncomment to ignore VS Code specific settings
.idea/          # For PyCharm/IntelliJ IDEs

# Environment variables
.env            # Ignore environment variables files
secrets.toml    # For Streamlit apps

# Testing and caches
.ruff_cache/    # Ruff linter cache
.coverage       # Coverage output files

# OS-specific files
.DS_Store       # macOS
Thumbs.db       # Windows

*.swp
.DS_Store
